body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

main {
    margin-top: 140px;
    text-align: center;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2636c4;
    padding: 10px;
}

header img {
    border-radius: 55px;
    display: inline-flex;
    flex-wrap: nowrap;
}

header #links {
    display: inline-flex;
    flex-wrap: nowrap;
    float:right;
}

header #links a {
    margin: 35px 10px 0px 10px;
    font-size:x-large;
    color: white;
    text-decoration:none;
}

main form {
    display: inline-flex;
}

main form button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #2636c4;
    color: white;
}

